# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Environments
.env
.venv/
venv/

# Byte-compiled / optimized / DLL files
*$py.class

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Tests cache
.pytest_cache/
